{:schema-version 1, :name "Catatan-Insomnia-20260819T181030Z", :repo "logseq_db_Catatan-Insomnia", :source :electron-auto, :created-at-ms 1787163030865, :db-path "C:\\Users\\Administrator\\logseq\\graphs\\Catatan-Insomnia\\backup\\Catatan-Insomnia-20260819T181030Z\\db.sqlite"}